//********** Variables **********//
$theme-color:#505050;
$white-color:#ffffff;
$light-yellow:#FFF9E8;
$orange-color:#EE6B1C;
$orage-dark-color:#c75109;
$orage-light-color:#fb9251;
$dark-grey-color:#272727;
$brown-color:#533870;
$dark-brown-color:#36234A;
$light-grey:#C4C4C4;
$light-grey100:#F9F9F9;
$light-grey-200:#A8A8A8;
$light-grey-50:#A4A4A4;
$dark-color2:#272D3B;
$black-color:#000000;
$grey-color-400:#6E6E6E;
$light-orange:#ffdfcc;
$green-color:#31811E;
$light-green:#B9F1CE;
$green-900:#20824A;
$red-color:#DF0303;
$light-brown-color:#DFD5E9;
$light-orange-200:#FFEA9C;
$dark-orange:#CC5813;
$light-red:#FFC6CC;
$light-redish: #F47584;
$light-blue: #B1BBF2;
$red-color-900:#921A26;
$blue-info: #38a0d7;
$blue-dark: #061c4d;
$footer-bg: #1A1A1A;
//********** Variables **********//

//********** FONTS/FONT-WEIGHT **********//
// $primary-font: 'Copperplate', Roboto, sans-serif;
// $theme-font:'SFPRODISPLAY-REGULAR';
// $theme-font-medium:'SFPRODISPLAY-MEDIUM';
// $theme-font:'Copperplate';
// $theme-font-regular:'Copperplate-Regular';
// $theme-font-medium:'Copperplate-Medium';
// $theme-font-bold: 'Copperplate-Bold';

$primary-font: 'SFPRODISPLAY-REGULAR';
$primary-font-medium:'SFPRODISPLAY-MEDIUM';
$heading-medium:'Copperplate-Medium';
$heading-bold: 'Copperplate-Bold';
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;
$default-font-size: 1rem; // 16px as base font size
//********** FONTS/FONT-WEIGHT **********//

$width-full: 100%;